@use '../abstracts' as *;

.heading__con{
    color: $black;
    p{
        font-weight: 600;
        position: relative;
        padding-left: 70px;
        text-transform: uppercase;
        &::before{
            content: "";
            position: absolute;
            top: 45%;
            left: 0;
            width: 60px;
            height: 2px;
            background-color: $yellow;
        }
    }
    h2{
        width: 600px;
        font-size: 52px;
        span{
            color: $teal;
        }
    }
}