@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600&display=swap');

$blue: #001f3f;
$teal: #0da574;
$yellow: #FFC631;
$white: #FFFFFF;
$black: #1a1c20;
$gray: #626262;
// background: rgb(34,46,80);
// $background: radial-gradient(circle, rgb(20, 55, 87) 0%, rgba(11,56,103,1) 36%, rgba(4,43,66,1) 100%);
// $background: linear-gradient(140deg, rgb(16, 48, 107) 0%, rgb(22, 65, 121) 50%, rgb(16, 48, 107) 100%);



$font: 'Archivo', sans-serif;
